.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vglasses__model{
  position: relative;
  background-image: url('../public/glassesImage/model.jpg');
  background-position: center top;
  background-size: cover;
  height: 550px;
  width: 400px;
}

.imgGlass img{
  width: 60%;
}
.imgGlass{
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailGlass{
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0, 0.4); 
  color: #f1f1f1;
}

.glassChoice{
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
}
.glassChoice img {
  width: 65%;
}
